.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-space {
  margin-right: 10px;
}

.btn-space-large {
  margin-right: 30px;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  position: absolute;
  width: calc(100%);
  margin-left: 0px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 22px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #62676d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #62676d;
}

.bm-item-list {
  color: #b8b7ad;
}

.black-font {
  color: black;
}

.filter-option {
  font-weight: bold;
}

.content-space {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-center {
  margin: auto;
}

.margin-top {
  margin-top: 10px;
}

.margin-right {
  margin-right: 15px;
}
.my-dropdown-toggle::after {
  content: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.full-width {
  width: 100%;
}

.text-bold {
  font-weight: bold;
}

.align-vertical {
  margin: 15px 0px 0px 15px;
}

.print-border {
  border-style: groove;
}

.single-row {
  padding-right: 80px;
}
@media print {
  .no-print {
    display: none;
  }
}
/* .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
} */
